* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f2f9ff;
  border: 3px dashed #deaa79;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

/* banner section start */
.banner_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px;
}
.image_container img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.image_content {
}

.image_content h1 {
  font-size: 60px;
}

.image_content h2 {
  font-size: 30px;
  font-weight: 500;
  text-align: right;
}

/* banner section end */

/* main section start */
.main_section {
}
.background_and_early_life {
  margin-bottom: 30px;
}

.background_and_early_life h2 {
  font-size: 50px;
  margin-bottom: 10px;
}
.background_and_early_life p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: justify;
}

.migration {
  margin-bottom: 30px;
}
.migration h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.migration p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: justify;
}

.list_of_things {
}
.list_of_things h2 {
  font-size: 30px;
  margin-bottom: 10px;
}
.list_of_things ul {
  margin-left: 20px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.5px;
}

.read_more_section {
  margin-top: 30px;
}
.read_more_section p {
  font-size: 18px;
}
.read_more_section a {
  text-decoration: none;
}

/* main section end */
